@import './base.css';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* Custom styles for the coffee theme */
.bg-coffee {
  background-color: #5d4037 !important;
}
.text-coffee {
  color: #5d4037 !important;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}
